// Neutral  
$deep:#2A2A2A; 
$grey:#B3B3B3;
$light:#FFFFFF;

// background  /* 老師定義 */
$bg-1:#2A2A2A;
$bg-2:#2A2A2A;
$bg-3:#2A2A2A;

// primary
$primary-color: #1c241e;
$secondary-color: #2ecc71;
$background-color: #f5f6fa;
$text-color: #2c3e50;


// alpha  /* 老師定義 */

$alpha-b-65: rgba(0,0,0,.65);
$alpha-b-85: rgba(0,0,0,.85);
$alpha-w-40: rgba(255, 187, 187, 0.4);


// lesser /* 老師定義 */
$lesser-1:#f3e4e4;
$lesser-2:#efdbdb;
$lesser-3:#cdaaab;
$lesser-4:#8f6b6b;


